body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* Clip path safari support kosam avasaram ithe */
.clip-text {
  clip-path: inset(0 100% 0 0);
}